html
  head 
    title= 'Kafka Messages'
    link(rel="stylesheet",href='/style.css')
  body 
    h1= 'Send Messages to Kafka'
    p= 'Use the form to send a message.'
    div 
      form(action="/message", method="post")
        input(type="text", name="msg")
        input(type="submit", value="Submit")
      a(href='/log')= 'Log'
    div 
      form(action="/kill",method="post")
        input(type="submit",value="Stop server")