html
  head 
    title 'Sent Message Result'
  body 
    if success 
        h1 Your message was sent successfully.
    else 
        h1 Your message could not be sent.
    a(href='/') go back to the homepage.